<p style="color: green"><%= notice %></p>

<h1>Files</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= article.title %>
    <p>
      <%= link_to "Show the analysis of this file", article %>
    </p>
  <% end %>
</div>

<%= link_to "Upload new file", new_article_path %>
